<div class="preview">
  <!-- <nav class="navbar j-navbar-menu">
    <i class="iconfont iconmenu"></i>
  </nav> -->
  <div class="preview-image">
    <% if (theme.preview.background.type==='video' ) { %>
      <video src="<%- theme.preview.background.video %>" class="preview-video" autoplay loop muted draggable="false"></video>
      <% } %>
        <% if (theme.preview.type==='cloud' ) { %>
          <%- image_tag("/images/theme/cloud.png", {class: "preview-overlay" , draggable:"false"}) %>
            <% } else { %>
              <div class="preview-scroll">
                <a href="#container" class="smooth-scroll"><svg t="1672136341960" width="32px" height="42px"  class="icon" viewBox="0 0 1026 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2843" width="200" height="200"><path d="M857.088 224.256q28.672-28.672 69.12-28.672t69.12 28.672q29.696 28.672 29.696 68.608t-29.696 68.608l-382.976 380.928q-12.288 14.336-30.72 19.968t-38.912 4.608-40.448-8.704-34.304-22.016l-376.832-374.784q-29.696-28.672-29.696-68.608t29.696-68.608q14.336-14.336 32.256-21.504t36.864-7.168 37.376 7.168 32.768 21.504l313.344 309.248z" p-id="2844" fill="#ffffff"></path></svg></a>
              </div>
              <!-- <div class="preview-overlay">
                <svg class="preview-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                  <defs>
                    <path id="gentle-wave"
                      d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                  </defs>
                  <g class="preview-parallax">
                    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(var(--color-background-rgb),0.7"></use>
                    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(var(--color-background-rgb),0.5)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(var(--color-background-rgb),0.3)"></use>
                    <use xlink:href="#gentle-wave" x="48" y="7" fill="var(--color-background)"></use>
                  </g>
                </svg>
              </div> -->
              <% } %>
  </div>
  <div class="preview-motto-wrapper">
    <h2 class="preview-motto" id="motto">
      <% if (!theme.preview.motto.typing) { %>
        <%= theme.preview.motto.default %>
          <% } %>
    </h2>
    <% if (theme.preview.motto.typing) { %>
      <span class="preview-cursor">_</span>
      <% } %>
  </div>
  
</div>